@using Stl.Text
<CascadingAuthState SessionId="@SessionId">
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Die Adresse wurde nicht gefunden</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthState>

@code {
    [Parameter]
    public string SessionId { get; set; } = Symbol.Empty;
}
